<div class="container">
  <!-- Lista de empleados -->
  <app-list
    [empleadoArray]="empleadoArray"
    [empleadoSeleccionado]="empleadoSeleccionado"
    (selectEmployee)="catchSelectEmployee($event)"
  ></app-list>

  <!-- Formulario de empleados -->
  <app-form
    [empleadoSeleccionado]="empleadoSeleccionado"
    [formNombre]="empleadoSeleccionado.nombre"
    [formPais]="empleadoSeleccionado.pais"
    [crudStatus]="crudStatus"
    
    (deleteEmployee)="cathDeleteEmployee($event)"
    (okEmployee)="cathOkEmployee($event)"
    (cancelSelect)="cathCancelSelect()"
  ></app-form>
</div>
