<div class="row">
  <div class="col-md-8 mt-4 mx-auto">
    <div class="card">
      <div class="card-header">
        Empleados
      </div>
      
      <div class="card-body">
        <div class="form-group">
          <input 
            type="text" class="form-control" placeholder="Nombre"
            [(ngModel)]="empleadoSeleccionado.nombre"
            >
        </div>
        <div class="form-group">
          <input 
            type="text" class="form-control" placeholder="País"
            [(ngModel)]="empleadoSeleccionado.pais" 
            >
        </div>

        <button 
          class="btn btn-primary" 
          (click)="fireAddEmployee(empleadoSeleccionado)"
        > Guardar </button>
        <button 
          class="btn btn-danger" 
          (click)="fireDeleteEmployee(empleadoSeleccionado)"
          *ngIf="empleadoSeleccionado.id !== 0"
        > Eliminar</button>
      </div>
    </div>

  </div>
</div>
